header {
    background-color: white;
    & img {
        width: 197px;
        height: 36px;
        display: block;
        margin: auto;
        margin-bottom: 10px;
        }
    }

.arrow {
    position: relative;
    top: 30px;
    margin-left: 17px;
    transition: all 300ms ease-out;
    font-size: 22px;
}

.header__locate {
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: #EAEAEA;
    & input {
        background-color: #EAEAEA;
        border-style: none;
        font-weight: 500;
        font-size: 16px;
    }    
    & button {
        margin-left: 50px;
        border-style: none;
    }
}    
.header__img {
    width: 100%;
    height: 38vh;
    object-fit: cover;
}