@use "../utils/animations.scss";
@use "../utils/colors.scss";
@use "../utils/mixins.scss";

.section__menus {
    padding: 20px 130px 0px 130px;
    background-color: #F6F6F6;
}

.menus__card {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 100px;
    .card--img {
        object-fit: cover;
        width: 100%;
        height: 15rem;
        border-radius: 15px 15px 0px 0px;
    }
.card__new {
    position: relative;
}
.card__new::before {
    content: "Nouveau";
    position: absolute;
    height: 2rem;
    width: 5rem;
    background-color: $color-tertiary;
    color: darken($color: $color-tertiary, $amount: 50%);
    display: grid;
    place-items: center;
    right: 1rem;
    top: 1rem;
    }
}  

.card__text {
    background-color: white;
    padding: 15px;
    @include box-shadow(); 
    margin-left: 0px;  
    border-radius: 0px 0px 15px 15px;  
        & h2 {
            font-size: 18px;
            font-weight: 700;
            color: black;  
            margin-top: 0px;         
        }
            & h3 {
                font-size: 17px;
                font-weight: 300;
                margin-top: -7px;
                margin-bottom: 0px;
                color: black;
                }
            }
.card__text i {
    position: absolute;
    right: 1rem;
    top: 50%;
    transform: translateY(-50%);
}

.fas {
    @include heart;
    opacity: 0;
    transition: all 200ms;
    &:hover {
        opacity: 1;
    }
}
.card__three, .card__four {
    padding-bottom: 30px;
    margin-top: -30px;
}
