.section__restaurant {
    background-color: #F6F6F6;
    margin-left: 18%;
    margin-right: 18%;
    padding-bottom: 60px;
    }
    .section__menu--title {
        border-radius: 40px 40px 0px 0px;
        background-color: #F6F6F6;
        position: relative;
        margin-top: -40px;
        padding: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        & h1 {
            margin-right: 5%;
            font-family: 'Shrikhand', serif;
            font-size: 28px;
            font-style: italic;
        }
}
.animation__heart .fas {
    transform: translateX(-100%);
    position: absolute;
    opacity: 0;
    &:hover {
        opacity: 1;
    }
}
.section__entrees {
    animation: apparition 1s ease-in;
    }   
    .section__plats {
        animation: apparition 2s ease-in;
        }   
        .section__desserts {
            animation: apparition 3s ease-in;
            }   
            .menu__name {
                font-size: 16px;
                font-weight: 300;
                border-bottom: 3px solid $color-tertiary;
                width: 40px;
                margin-left: 18%;
                margin-top: 5%;
                }
                .menu__card {
                    border-radius: 15px;
                    width: 63%;
                    margin-bottom: 15px;
                    border-style: none;
                    background-color: white;
                    margin-left: 18%;
                    @include box-shadow();
                    display: flex;
                    overflow: hidden;
                    & h2 {
                        font-size: 18px;
                        margin-left: 2%;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        }
                        & h3 {
                            font-size: 15px;
                            font-weight: 300;
                            margin-left: 2%;
                            margin-top: -9px;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            }
                        &:hover .button__check {
                            margin: 0;
                            transition: all 250ms;
                            cursor: pointer;
                                }
                            }   
                            .menu__description {
                                display: flex;
                                flex-direction: column;
                                flex: 2;
                                overflow: hidden;
                                white-space: nowrap;
                                text-overflow: ellipsis;
                                cursor: pointer;
                                }

        .menu__card--price {
            font-size: 15px;
            font-weight: 700;
            margin-left: auto;
            position: relative;
            margin-top: 6%;
            margin-right: 3%;
            &:hover {
                cursor: pointer;
            }
        }    

.button__check {
    border-radius: 0px 15px 15px 0px;
    left: 100%;
    background: $color-tertiary;
    border-style: none;
    margin-right: -4rem;
    width: 4rem;
    transition: all 0.5s;
    display: flex;
    justify-content: center;
    align-items: center;
    }
    .button__check i {
        color: white;
        font-size: 20px;
        border-radius: 15px;
        }
        .check {
            color: white;
            padding: 20px 0 0 20px;
            }
        
.section__button--gradient {
    @include button-gradient
}