@use "../utils/animations.scss";
@use "../utils/colors.scss";
@use "../utils/mixins.scss";



.section__two {
    padding: 50px 130px 50px 130px;
    }
    .section__button {
        display: flex;
        flex-direction: row;
    }
        .section__button--main {
            font-weight: 500;
            font-size: 16px;
            width: 30%;
            height: 72px;
            border-radius: 20px;
            border-style: none;
            background-color: $color-button;
            @include button-main;
            & i {
                margin-right: 7%;
            }    
            &:hover {
                background: lighten($color-button, 1%);
                transition: transform 5s;
                
        }
    }       
    .store {
        color: $color-primary;
    }
       
    .section__button--number {
        border-style: none;
        font-size: 16px;
        font-weight: 500;
        width: 24px;
        height: 24px;
        border-radius: 24px;
        position: relative;
        top: 2vh;
        left: 1%;
        background-color: $color-primary;
        color: white;
    }    