@import "./sass/base.scss";
@import "./sass/layout/header.scss";
@import "./sass/layout/footer.scss";
@import "./sass/utils/colors.scss";
@import "./sass/utils/mixins.scss";
@import "./sass/utils/animations.scss";
@import "./sass/layout/loader.scss";
@import "./sass/layout/menus.scss";
@import "./sass/layout/restaurants.scss";
@import "./sass/layout/section__one.scss";
@import "./sass/layout/section__two.scss";
  
   

     /*** Media Queries***/

    @media (max-width: 1024px) {
        .section__two {
            margin: 3vh 3vh;
            padding: 0;
        }
        .section__restaurant {
            margin-left: 10%;
            margin-right: 10%;
            .menu__name {
                margin-left: 10%;
            }
        }
        .section__menus {
            padding: 30px 30px 0px 30px;
        }
        .menus__card {
            gap: 70px;
        }
        .menu__card {
            width: 80%;
            margin-left: 10%;
        }
    }
     

    @media (max-width: 767.98px) {
        .section__one .section__title--h1 {
            font-size: 24px;
            margin-left: 30px;
            margin-right: 30px;
            & h2 {
                margin-left: 8px;
            }
        }

        .section__two .section__button {
            display: flex;
            flex-direction: column;
            .section__button--main {
                width: 100%;
            }
            .section__button--number {
                top: 3rem;
                left: -2%;
                    
                }
            }

        .section__menus {
            padding: 15px;
            }

        
        .menus__card {
            display: grid;
            grid-template-columns: 1fr;
            gap: 20px;
            }
            .card__three {
                margin-top: 0;
            }
        
            .section__restaurant {
                margin-left: 0;
                margin-right: 0;
                .menu__name{
                    margin-left: 5%;
                }
              }
            .menu__card {
                width: 90%;
                margin-left: 5%;
            }
        

        footer {
            display: flex;
            flex-direction: column;
            .footer__main {
                display: flex;
                flex-direction: column;
                .footer__icon {
                    display: flex;
                    flex-direction: column;
                    gap: 0px;
                }
                    .footer__mentions {
                        display: flex;
                        flex-direction: column;
                        gap: 0px;
                        .footer__contact {
                            margin-top: -10px;
                        }
                    }
                } 
        
        .icon__ustensils, .icon__handshake {
            display: flex;
            flex-direction: row;
            align-items: baseline;
            margin-bottom: -23px;
            .ustensils {
                margin-right: 6px;
                
            }
        }       
        .handshake {
            margin-right: 14px;
              
        }
        .footer__logo {
            width: 139px;
            height: 27px;
            }
        }
    }