
    body {
        background-color: #F6F6F6;
    }

    a {
        text-decoration: none;
    }

    header {
        background-color: white;
    }

    .logo {
        width: 197px;
        height: 36px;
        display: block;
        margin: auto;
        margin-top: 20px;
        margin-bottom: 10px;
    }

    .location {
        width: 100%;
        background-color: #EAEAEA;
        height: 50px;
        display: flex;
        justify-content: center;
    }

    .locate-icone {
        background-color: #EAEAEA;
        border-style: none;
        margin-left: 50px;
        margin-right: 20px;
    }

    .bouton-txt-mobile {
        background-color: #EAEAEA;
        border-style: none;
        font-weight: 500;
        font-size: 16px;
    }

    .section-one {
        display: block;
        text-align: center;
    }

    .section-title {
        font-size: 24px;    
    }

    .paragraph {
        font-size: 18px;
        font-weight: 300;
    }

    .button-gradient {
        background: linear-gradient(to top, #9356DC 0%, #FF79DA 90%);
        border-radius: 25px;
        width: 218px;
        height: 50px;
        color: white;
        font-size: 16px;
        border-style: none;
        font-weight: 500;
        display: block;
        margin: auto;
        margin-bottom: 30px;
    } 

    .section-two {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-bottom: 15px;
        background-color: white;
    }
    
    .section-two button {
        border-radius: 20px;
        height: 72px;
        display: block;
        margin-bottom: 15px;
        font-size: 16px;
        font-weight: 500;
        border-style: none;
        background-color: #F6F6F6;
    }

    .section-two button i {
        margin-left: 20px;
        margin-right: 20px;
    }

   .section-two .number-one ,
   .section-two .number-two ,
   .section-two .number-three {
        width: 24px;
        height: 24px;
        border-radius: 24px;
        position: relative;
        top: -65px;
        background-color: #9356DC;
        color: white;
    }
   
    .far {
        opacity: 0;
        transition-property: all;
        transition-duration: 2s;
        
    }
    .fas {
        position: absolute;
        left: 340px;
        bottom: 60px;
    }

    .fas:hover {
        opacity: 1;
        color: transparent;
        background-clip: text;
        -webkit-background-clip: text;
        background-image: linear-gradient(to top, #9356DC 0%, #FF79DA 90%);
    }
    .card-menu {
        display: flex;
        flex-direction: column;
        gap: 18px;
        width: 96%;
        margin-left: 10px;
    }

    .card {
        background-color: white;
        border-radius: 15px;
        filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));    
        width: 96%;
        margin-left: 10px;
    }

    .card-content {
        margin-left: 10px;
    }

    .card img {
        object-fit: cover;
        height: 160px;
        width: 100%;
        border-radius: 15px 15px 0px 0px;
    }
    
    .card-title {
        font-size: 18px;
        font-weight: 700;
        color: black;
    }
    
    .card-subtitle {
        font-size: 17px;
        font-weight: 300;
        margin-top: 12px;
        color: black;
        margin-bottom: 0px;
    }

    .card-content .card-text .icon-heart {
        font-weight: unset;
        position: relative;
        left: 380px;
        top: -40px;
        font-size: 22px;
    }

    footer {
        background-color: #353535;
        color: white;
        margin-top: 30px;
        width: 100%;
    }

    .logo-footer {
        width: 139px;
        height: 27px;
        margin-top: 40px;
        
    }
    footer i {
        font-size: 16px;
        font-weight: 500;
        color: white;
    }   


    /*** restaurants**/
    .img-header {
        width: 375px;
        height: 275px;
    }

    .restaurant-title {
        font-family: 'Shrikhand', serif;
        font-size: 28px;
        font-weight: 400;
        font-style: italic;
    }

    .type-of-meal {
        font-size: 16px;
        font-weight: 300;
        border-bottom: 3px solid #99E2D0;
        width: 40px;
    }

    .menu-card {
        border-radius: 15px;
        width: 100%;
        margin-bottom: 15px;
        border-style: none;
        background-color: white;
        height: 69px;
    }
    .menu {
        border-radius: 40px 40px 0px 0px;
        background-color: #F6F6F6;
        position: relative;
        margin-top: -40px;
    }
    .menu-title {
        padding: 10px;
        display: flex;
    }
    .name {
        font-size: 18px;
        display: flex;
        
    }

    .description {
        font-size: 15px;
        font-weight: 300;
        display: flex;
        margin-top: 0px;
    }

    .price {
        font-size: 15px;
        font-weight: 700;
        position: relative;
        left: 300px;
        top: -30px;
    }

    .cta {
        display: block;
        width: 186px;
        height: 50px;
        border-radius: 25px;
        background: linear-gradient(to top, #9356DC 0%, #FF79DA 90%);
        color: white;
        margin: auto;
    }
    
    
    
    
