
/*** Animations***/
@keyframes loader {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(0);
    }
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}

@keyframes progresscheck {
    0% {
    transform: scale(0);
    }
    100% {
    transform: scale(1);
    }
    }

@keyframes apparition {
    0% {
        transform: scale(0);
    }
    to {
        transform: scale(1);
    }
   } 
